<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>学生信息展示 - 删除</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<br><br>
<div class="table table-striped" style="width: 80%; margin:auto;">
删除成功, 返回<a href="list">首页</a>
</div>
</body>
</html>


