<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>学生信息展示-index</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<br><br>
<table class="table table-striped" style="width: 80%; margin:auto;">
    <caption><font style="font-weight: bold; font-size: larger; color: blue">学生信息展示</font></caption>
    <thead>
    <tr>
        <th>姓名</th>
        <th>班级</th>
        <th>年龄</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
    <tr>
        <td>{{ row.name }}</td>
        <td>{{ row.class }}</td>
        <td>{{ row.age }}</td>
        <td><a href="edit?id={{row.id}}">编辑</a>&nbsp;&nbsp;&nbsp;<a href="delete?id={{row.id}}">删除</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>


